<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="FaceLogin.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>	
 <userSettings>
  <FaceLogin.Settings1>
   <setting name="WindowWidth" serializeAs="String">
    <value>810</value>
   </setting>
   <setting name="WindowHeight" serializeAs="String">
    <value>420</value>
   </setting>
  </FaceLogin.Settings1>
 </userSettings>
</configuration>